<div class="about">
<%= image_tag("about.jpg", :alt => "rss feed") %>
</div>

<h4>
<p>
Who are we?
</p>
TechMadeEasy is here to help you! Whether you have any queries to do with Tech or just want to browse through and review your favourite posts!
<br>
<br>
<br>
<p>
What do we do?
</p>
We are here to help guide you all and to understand the problems you may be facing with technology. Whether it is as simple as setting up an account or downloading an app on your phone. Don't worry, we've got you covered!
<br>
<br>
<br>
<p>
What other features do we have on here?
</p>
At TechMadeEasy, we believe that no matter how old you become, technology will always be with you. But don't sweat, we are here to help you and make things just a little more easier for you to understand! Then you can show off to your kids and grandkids, you'll know more than them!
<br>
<br>
<p>
How else can we help?
</p>
Well, why don't you sign up to our page and explore different ways you can sit, relax and enjoy at the same time? You could take part by reviewing different posts, leave ratings and like or dislike your favourite posts!
<br>
<br>
<p>
Are you able to book appointments if you have any problems?
</p>
Yes! Once signing up, you are able to book yourself onto an appointment. In this way, you can explain to us what you are not understanding and we are here to help you!
<br>
<br>
If you fancy learning independently, you can also download documents in which you can learn and take part in some challenges!
<h4>
</p>
            </div>
        </div>
    </div>
</div>