<h1><%= @title %></h1>
<p><%= @content %></p>

<br>   
<br>
<font size="6">Where are we based?</font>
</br>
</br>
<p> 
Fullhurst Avenue, LE2 1BJ, Leicestershire
<p> 
<div style='width: 1000px;'>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2422.151141166605!2d-1.164559284188755!3d52.62111277983347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487760b7e53b3685%3A0x86588cee739fd00f!2sFullhurst+Ave%2C+Leicester!5e0!3m2!1sen!2suk!4v1553900982656!5m2!1sen!2suk" width="1000" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>



<br>
<br>

<h1>Any enquiries:</h1>
<center><form name="htmlform" method="get" action="/website/send_form">
<table width="700px">


 
<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">

  <div class="row">
    <label for="name">Your Name:</label><br />
    <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
  </div>

  <div class="row">
    <label for="email">Your Email:</label><br />
    <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
  </div>

  <div class="row">
    <label for="message">Your Message:</label><br />
    <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
  </div>
  <input id="submit_button" type="submit" value="Send email" />

</form> 