<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.google.com" target="_blank">
          <img src="/assets/elder.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.google.com" target="_blank">
          <img src="/assets/fitbit.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.google.com" target="_blank">
          <img src="/assets/laptop.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/elder.jpg" target="_blank">
          <img src="/assets/elder.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/fitbit.jpg" target="_blank">
          <img src="/assets/fitbit.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/laptop.jpg" target="_blank">
          <img src="/assets/laptop.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/elder.jpg" target="_blank">
          <img src="/assets/elder.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/fitbit.jpg" target="_blank">
          <img src="/assets/fitbit.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/laptop.jpg" target="_blank">
          <img src="/assets/laptop.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

