<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.khaleejtimes.com/technology/whatsapp-issues-serious-warning-for-users-" target="_blank">
          <img src="/assets/whatsappnews.jpg" alt="Whatsapp" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.telegraph.co.uk/health-fitness/body/constant-pain-no-rest-days-confessions-fitbit-addict/" target="_blank">
          <img src="/assets/fitbit.jpg" alt="Fitbit" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.bbc.co.uk/news/technology-47756055" target="_blank">
          <img src="/assets/applenews.jpg" alt="Apple" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://theconversation.com/the-dying-art-of-conversation-has-technology-killed-our-ability-to-talk-face-to-face-112582" target="_blank">
          <img src="/assets/elder.jpg" alt="Messages" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.bbc.co.uk/news/world-47722427" target="_blank">
          <img src="/assets/sharingnews.jpg" alt="SharingNews" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.choose.co.uk/guide/best-for-security-mobile-phone/" target="_blank">
          <img src="/assets/bankingnews.jpg" alt="Onlinebanking" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.fdiforum.net/mag/online-shopping-growth-drives-demand-for-new-adaptable-warehousing/" target="_blank">
          <img src="/assets/onlineshop.jpg" alt="Onlineshopping" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.express.co.uk/life-style/science-technology/1103709/Google-Maps-update-design-change-desktop" target="_blank">
          <img src="/assets/googlemaps.jpg" alt="Googlemaps" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.bostonglobe.com/magazine/2019/03/29/this-robot-makes-sure-you-remember-take-your-pills/N1dyx92vr1I2TSmXkW0ESN/story.html" target="_blank">
          <img src="/assets/pill.jpg" alt="RobotPills" style="width:100%">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

