@import "bootstrap-sprockets";
@import "bootstrap";

img.topic-show{
	width: 400px;
	height: auto;
}

/* universal */

html body #bgimage {
}


body{
	padding-top: 60px;
	background-image: url(background.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

section{
	overflow: auto;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 10;
    text-align: center;
    margin:1 auto;
    font-size: 3em;
}

.navbar-toggle {
    z-index:3;
}

.socialmedia {
	list-style-type: none;
	text-align: center;
	padding: 30px;
	margin-top: 0%;
}

textarea{
	resize: vertical;
}

.centre{
	text-align: center;
}

.center h1{
	margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2{
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777;
}

p{
	font-size: 1.1em;
	line-height: 1.7em;
}

/* Header */

#logo{
	float:left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover{
	color: #fff;
	text-decoration: none;
}

/* Footer */

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a{
	color: #555;
}

footer a :hover{
	color: #222;
}

footer small{
	float:left;
}

footer ul{
	float:right;
	list-style: none;
}

footer ul li{
	float:left;
	margin-left: 15px
}

.btn-custom {
	color: darken(#f1c40f, 5%);
	background-color: #fff;
	border: 1px solid darken(#f1c40f, 5%);
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: darken(#f1c40f, 5%);
		color: #fff;
		transition: 0.5s;
	}
}

.btn-custom2 {
	color: #0000FF;
	background-color: #0000FF;
	border: 1px solid #222;
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: #333;
		color: #fff;
		transition: 0.5s;
	}	

	/*	ACESSIBILIDADE
*	jBility
* https://github.com/urielcaire/jbility
*/

.pagina-acessivel{
	background-color: #111111!important;
	color: #FFFFFF;
}

.pagina-acessivel h1, .pagina-acessivel h2, .pagina-acessivel h3, .pagina-acessivel h4{
	color: #FFFFFF!important;
}

.pagina-acessivel a, .pagina-acessivel h1 a, .pagina-acessivel h2 a, .pagina-acessivel h3 a, .pagina-acessivel h4 a, .pagina-acessivel i{
	text-decoration: none;
	color: #FFFF00!important;
}

.pagina-acessivel a:hover{
	text-decoration: underline;
}

.pagina-acessivel .dropdown-menu{
	border-color: #FFFFFF!important;
}

.pagina-acessivel li.active > a{
	color: 	#E53935!important;
}

.acess-container{
	cursor: pointer;
    display: block;
    position: fixed;
    left: 30px;
    bottom: 80px;
    z-index: 9999;
}

#jbbutton{
	margin-left: 0px;
	width: 54px;
	height: 54px;
	float: left;
}

.acess-icon{
	margin-top: 7px;
	margin-left: 2px;
	float: left;
}

#acess-icons{
	display: none;
	float: left;
}

.f-transparent{
	background-color: transparent!important;
}

.balloon {
    position: relative;
    display: inline-block;
}

.balloon .balloontext {
    visibility: hidden;
    width: 120px;
    background-color: #1E88E5;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}

.balloon .balloontext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1E88E5 transparent transparent transparent;
}

.balloon:hover .balloontext {
    visibility: visible;
}

}

