<footer class="footer">
<nav>
	<div class="socialmedia">
		<footer class="bg-black small text-center text-white-50">
	    <div class="container">
	      Copyright &copy; TechMadeEasy 2019
	    </div>
	  </footer>
</nav>
</footer>
